body{

    margin:0px;
    padding: 0%;
    background-color: black;
    color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#navbar{
    margin: 0px;
    padding:    0px;
    background-color: black;
    color: gold;
        
    display: flex;

}

#noticias{
    background-color: black;
    padding: 5px;
    text-align: center;
 
    display: flex;
    
}

#icone{
    width: 52px;
}

.imagens{
    width: 300px;
    display: flex;
    margin: 0px;
    
   
}

.noticia{
    text-align: center;
    margin: 30px;
    border: 5px;
    border-style: solid;
    border-color: white;
 

}

#divisao{
    text-align: center;
    background-color: gold;
    color: black;
    padding: 5px;
    text-align: center;
 
    display: flex;
}
#sobre{
    background-color: black;
    
}
#aliados{
    background-color: black;
    padding: 5px;
 
    display: flex;
}
#viloes{
    background-color: black;
    padding: 5px;
 
    display: flex;
}


#divisao{
    background-color: gold;
    color: black;
    padding: 5px;
 
    display: flex;
}
#sobre{
    background-color: black;
    
}
#aliados{
    background-color: black;
    padding: 5px;
 
    display: flex;
}
#viloes{
    background-color: black;
    padding: 5px;
 
    display: flex;
}

